:root{
    --tinh: 8.3333%;
    
}


/* ---custom_nav------------------- */
  .main-effect_effect::-webkit-scrollbar {
    width: 8px;
    display: none;
  }
  .main-effect_effect:hover.main-effect_effect::-webkit-scrollbar{

    display: block;
  }
  /* Track */
  /* .main-effect_effect::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  } */
   
  /* Handle */
  .main-effect_effect::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .main-effect_effect::-webkit-scrollbar-thumb:hover {
    background: #808080; 
  }

/* ---custom_nav------------------- */

/* ---custom_frend------------------- */
.main-effect_OnFrends-effect::-webkit-scrollbar {
  width: 8px;
  display: none;
}
.main-effect_OnFrends-effect:hover.main-effect_OnFrends-effect::-webkit-scrollbar{

  display: block;
}
/* Track */
/* .main-effect_OnFrends-effect::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
 
/* Handle */
.main-effect_OnFrends-effect::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192); 
  border-radius: 10px;
}

/* Handle on hover */
.main-effect_OnFrends-effect::-webkit-scrollbar-thumb:hover {
  background: #808080; 
}

/* ---custom_frend------------------- */

  #main{
    display: flex;
     width: 100%;
     height: 100%;
     background-color: #f0f2f5;
     padding-top: 52px;
   
 }
.main-effect_icon{
   background-color: #f0f2f5;
    height: 100%;
 

}
.main-effect_PostStatus{
  background-color: #f0f2f5;
    height: 100%;
  

}
.main-effect_OnFrends{
  background-color: #f0f2f5;

}

  .main-effect_effect{
      width: 23.4%;
      height: 100%;
      position: fixed;
      overflow-x:hidden;
      
  }
  /* -----------------customMain----------- */
.main-effect_effect-list{
    margin-top: 18px;
   margin-left: 10px;
  
   width: 336px;
}
.main-effect_effect-list-1{
     height: 50.5vh;
    overflow: hidden; 
}
.main-effect_effect-list-2{
    margin-top: 18px;
   margin-left: 10px;
  height: 56vh;
   width: 336px;
}
.main-effect_effect-item{
    height: 52px;
    border-radius: 5px;
    display: flex;
    align-items: center;
 
    border-radius: 6px;
}
.main-effect_detail-link{
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.main-effect_hove:hover{
    background-color: #f2f5f8;
    cursor: pointer;
}
.main-effect_detail-img{
width: 36px;
height: 36px;
border-radius: 50%;
border: .1px solid rgb(82, 82, 82);
margin-left: 6px;
}
.main-effect_detail-name{
margin-left: 12px;
}
.main-effect_detail-name h4
{
    color: #000;
    font-size: 14px;
    font-weight: 600;
 
}
.main-effect_effect-item-detail{
  font-size: 11px;
  color: #097ceb;

}
.down-effect-icon-color{
  background-color: #dddddd;
  width: 36px;
  height: 36px;
  border-radius: 50% ;
  margin-left: 5px;
}
.down-effect-icon-color i{
  position: absolute;
  font-size: 14px;
  color: #000;
  right: 11px;
  top: 11px;
}

.frend_effect-item-info{
  margin-left: 6px;
}
.bonus_effect-item-info{
  margin-left: 16px;
}
.game_effect-item-info{
  margin-left: 5px;
}
.watch_effect-item-info{
  margin-left: 3px;
}
.team_effect-item-info{
  margin-left: 24px;
}
.live_effect-item-info{
  margin-left: 18px;
}

.start-effect-icon-color{
  font-weight: bold;
  background-image: linear-gradient(to bottom,yellow,rgb(218, 149, 0));
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  left: -5px;
}
.tree-effect-icon-color{
  font-weight: bold;
  background-image: linear-gradient(to bottom,rgb(0, 255, 17),rgb(9, 93, 0));
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  left: -5px;
}
.live-effect-icon-color{
  background-image: linear-gradient(to bottom,rgb(227, 128, 128),rgb(255, 0, 0));
 border-radius: 2px;
  width: 30px;
  height: 18px;
  margin-left: 8px;
} 
.live-effect-icon-color p{
font-size: 10px;
color: white;
position: absolute;
right: 4px ;
line-height: 18px;
}
.main-effect_effect-shortcuts{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 30px;
} 
.main-effect_effect-shortcuts-name{
  color: #6f6f6f;
  font-size: 16px;
}
.main-effect_effect-shortcuts-edit{
  font-size: 14px;
  color: #097ceb;
  font-weight: 300;
  list-style: none;
  border: none;
 display: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
.main-effect_effect-shortcuts-edit:hover{
  background-color: #dfdfdf;
}
.effect-shortcuts{
  border-radius: 10px;
}
.main-effect_detail-line{
  line-height: 22px;
}
.main-effect_effect-item:hover{
  background-color: #e4e4e4;
  cursor: pointer;
}
.team-effect_heght{
 height: 32px; 
}
.main-effect_effect-list:hover .main-effect_effect-shortcuts-edit{
display: block;
}
/* -----------------------effect_frend---------------------- */
.main-effect_OnFrends-effect{
  width: 23.4%;
  height: 92vh;
  position: fixed;
  overflow-x: hidden;
  right: 3px;
  margin-bottom: 100px;
}
.main-effect_OnFrends-watch{
   margin-left: 16px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 328px;
  height: 293px;
  border-radius: 4px;
  margin-top:28px ;
}
.main-effect_OnFrends-watch-title {
 display: flex;
 
 padding-top: 16px;
 align-items: center;
}
.main-effect_OnFrends-watch-tv {
 padding-left: 16px;
 font-weight: bold;
 background-image: linear-gradient(to bottom,rgb(0, 149, 255),rgb(0, 208, 245));
 display: inline-block;
 color: transparent;
 -webkit-background-clip: text;
 background-clip: text;
 font-size: 18px;
 cursor: pointer;

}
.main-effect_OnFrends-watch-title a{
 text-decoration: none;
 color: #000;
 margin-left: 10px;
 cursor: pointer;
}
.main-effect_OnFrends-watch-title p{
 color: #585858;
 margin-left: 10px;
 font-size: 14px;
}
.main-effect_OnFrends-watch-x{
margin-left: 8rem;
cursor: pointer;
padding: 4px 7px;

border-radius: 50%;
font-size: 14px;
}
.main-effect_OnFrends-watch-x:hover{
  background-color: #e3e3e3;
}
.main-effect_OnFrends-video video{
height: 170px;
width: 301px;
border-radius: 6px;
margin-left: 14px;
margin-top: 14px;
}
.main-effect_OnFrends-video-name{

  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
   width: 300px;
   margin-left: 15px;
   margin-top: 10px;
}
.main-effect_OnFrends-video-name a{
font-size: 16px;
color: #000;
font-weight: 600;
  text-decoration: none;

 }
 
.main-effect_OnFrends-watch-sub{


}
.main-effect_OnFrends-watch-sub a{
  display: flex;
  text-decoration: none;
  color: rgb(128, 128, 128);
  font-size: 14px;
  
  }
  .main-effect_OnFrends-watch-sub img{
width: 26px;
height: 26px;
border-radius: 50%;
border: solid .5px #bdbdbd;
margin-left: 16px;
margin-top: 6px;
 }
 .main-effect_OnFrends-watch-sub p{

  margin-left: 14px;
  margin-top: 10px;
}
.main-effect_PostStatus img{
  width: 600px;
  height: 600px;
}
.line-menu-move{
  margin: 20px 0 20px 21px;
}

.main-effect_OnFrends-list-name{
  display: flex;
}
.main-effect_OnFrends-store{
  margin-left: 8px;
}
.main-effect_OnFrends-list{

  
}
.main-effect_OnFrends-list-name h4{
color: #585858;
margin: 0px 108px 0 6px;
}
.main-effect_OnFrends-iconVideo{
 cursor: pointer;
 padding: 8px;
 border-radius:50%;
 font-size: 14px;
 margin-left: 10px;
color: #616161;
}
.main-effect_OnFrends-iconVideo:hover{
  background-color: #dcdcdc;
}
.main-effect_frend-one::before{
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -7px;
  width: 8px;
  height: 8px;
  border: 2.4px solid #f2f2f2;
  background-color: rgb(3, 173, 3);
  border-radius: 50%;
}
.main-effect_frend-one{
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 50%;
}
.main-effect_OnFrends-list-group{
  margin-bottom:10px ;
}
.main-effect_frend-plus{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #dfdfdf;
  margin-left: 5px;
}
.main-effect_frend-plus i{
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  margin-left: 10px;
}
.news_messenger{
  position: fixed;
  bottom: 16px;
  right: 14px;
  display: flex;

}
.news_messenger-icon{
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.news_messenger-icon i{
  margin-top: 14px;
  margin-left: 16px;

  font-size: 20px;
}
.news_messenger-detail{
  background-color: rgba(48, 48, 48, 0.905);
  color: #fcfcfc;
  height: 34px;
  margin-top: 10px;
  border-radius: 4px;
  display: none;
}
.news_messenger-detail p{
  line-height: 34px;
  font-size: 12px;
  padding: 0 10px;
}
.news_messenger:hover .news_messenger-detail{
  display: block;

}
.news_messenger-icon:hover{
  background-color: #e5e5e5;
  transition: all .7s;
}